<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum suscipit vero eveniet veniam aut assumenda, tempora eligendi perspiciatis. Veniam atque aliquid ipsa minima? Inventore error voluptatum nemo incidunt ullam quis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum suscipit vero eveniet veniam aut assumenda, tempora eligendi perspiciatis. Veniam atque aliquid ipsa minima? Inventore error voluptatum nemo incidunt ullam quis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum suscipit vero eveniet veniam aut assumenda, tempora eligendi perspiciatis. Veniam atque aliquid ipsa minima? Inventore error voluptatum nemo incidunt ullam quis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum suscipit vero eveniet veniam aut assumenda, tempora eligendi perspiciatis. Veniam atque aliquid ipsa minima? Inventore error voluptatum nemo incidunt ullam quis.</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>